* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

strong {
  color: hsl(154, 93%, 33%);
}

.max-width-wrapper {
  min-height: 300px;
  padding: 40px 0px;
}

.main-text {
  background-color: grey;
  border-top: 6px solid hsl(0, 0%, 30%);
}

.card {
  background-color: white;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 6px solid hsl(0, 0%, 30%);

  padding: 1.5rem 1.5rem;
}

.intro-chunk {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;

  padding: 1.5rem 1.5rem;
}

.indented-heading {
  background-color: hsl(41, 100%, 54%);
  width: fit-content;
  padding: 1rem 2rem;
  margin-left: -2rem;
  margin-top: -1rem;
  border-bottom: 6px solid hsl(41, 50%, 43%);
}
